@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}



.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 1.5em;
    margin-bottom: 25px;
    font-weight: 700;
}

.form-group-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
    font-size: 0.9em;
}

input[type="text"],
input[type="date"],
input[type="time"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    margin-top: 5px;
}

textarea {
    resize: vertical;
}

.checkbox-group {
    margin-bottom: 20px;
}

.checkbox-group p {
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
    font-size: 0.9em;
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.checkbox-item {
    display: flex;
    align-items: center;
}

.checkbox-item input[type="checkbox"] {
    margin-right: 8px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

button:hover {
    background-color: #45a049;
}

.button-relatorio {
    display: block;
    width: 90%;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.button-relatorio:hover {
    background-color: #0056b3;
}

/* REGRAS DE RESPONSIVIDADE */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }
    
    h1 {
        font-size: 1.2em;
    }

    .form-group-row {
        flex-direction: column;
        gap: 10px;
    }

    .input-group label {
        font-size: 0.8em;
    }

    .checkbox-container {
        flex-direction: column;
        gap: 8px;
    }

    .checkbox-group p {
        font-size: 0.8em;
    }

    button, .button-relatorio {
        font-size: 1em;
    }
}






